html, body{
    height: 100%;
    margin : 0;
    padding: 0;
    font-family: 'Noto Sans KR';
    scroll-behavior: smooth;
}

#logo{
    margin-top: 10px;
    height: 50px;
    width: 110px;
}

#logo-nav{
    margin-left: 30px;
    height: inherit;
    display: flex;
}

#logo-text{
    padding: 25px 15px;
}

nav{
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    background-color: white;
    font-size: 15px;
    border-bottom: lightgray 1px solid;
    vertical-align: center;
    font-weight: 500;
}

.nav-container{
    display:flex;
    margin-right: 20px;
}

.nav-item{
    padding: 25px 15px;
    text-decoration: none;
    color: black;
}

#intro{
    padding-top: 80px;
    height: 90%;
    background-color: aliceblue;
    background-image: url("main_image.png");
    background-size: cover;
    background-position: center;
}

.container{
    padding: 80px 0px;
}

.flex-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}

#project-list, #prototype{
    padding: 80px 0px;
    background-color: #feda08;
}

.title{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 10px 0 40px;
    font-weight: 700;
}

.subtitle{
    width: 200px;
    margin: 20px auto;
    text-align: center;
    font-size: 25px;;
    padding-bottom: 20px;
    border-bottom: 2px solid #feda08;
    font-weight: 300;
}

.team-desc{
    width: 60%;
    margin: 10px auto 40px;
    text-align: center;
    font-size: 17px;
}

.person{
    text-align: center;
    width: 200px;
    margin: 15px 0 25px;;
}

.photo{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px #feda08 solid;
    line-height: 150px;
    margin: 10px 0;
}

.person-name, .project-name{
    font-weight: 700;
    font-size: 23px;
}

.person-name{
    background-color: #feda08;
    margin: 0px auto 10px;
    padding: 0px 5px;
    color:white;
}

.project{
    width:280px;
    margin: 30px;
    margin-top: 0px;
}

.project-description{
    text-align: center;
}

.project-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display:flex;
}

.project-img img{
    width: inherit;
    height: auto;
    align-items: center;
}

.project-line{
    display:flex;
    vertical-align: center;
}

.project-num{
    width: fit-content;
    font-weight: 900;
    font-size: 80px;
    color: white;
    margin: 0 auto;
}

.project-name{
    height: 60px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    width: 227px;
}